/* cardbook.css */

/* Overall container */
.cardbook-container {
  margin: 20px;
  padding: 20px;
  background-color: #7DA2A9;
}

/* Heading styles */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Card styles */
.card {
  background-color: #F7F7F7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-family: 'Jost', sans-serif;
  width:500px;
  display: inline-block;
  margin-right: 70px;
}

/* Card content styles */
.card-content {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}

/* Icon container styles */
.icon-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Icon styles */
.icon-container a {
  text-decoration: none;
  color: #007bff;
  margin-right: 10px;
  font-size: 20px;
}

.icon-container a:hover {
  color: #0056b3;
}
