/* Deletebook.css */

/* Overall container */
.deletebook-container {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  /* Heading styles */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Confirmation message */
  .confirmation-message {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Delete button */
  delete-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  delete-button:hover {
    background-color: #cc0000;
  }
  